doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/card.css')
    link(rel='stylesheet/less', type='text/css', href='/stylesheets/card.less')
    script(src="https://code.jquery.com/jquery-3.2.1.js", integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=", crossorigin="anonymous")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")

    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

  
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavBar")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Notaek
        .collapse.navbar-collapse(id="myNavBar")
          if (user)
            ul.nav.navbar-nav
              li
                a(href='/notes/createNote') Create Note
              li
                a(href='/notes') All Notes
            form.navbar-form.navbar-left
              .form-group
                input.form-control(id="search-bar" ,type="text", placeholder="Search")
              button.btn.btn-default(id="search")
                span.glyphicon.glyphicon-search
              ul.card(id='search-results')
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/createUser')
                span.glyphicon.glyphicon-user  SignUp
            li
              a(href='/login')
                span.glyphicon.glyphicon-log-in  Login
    block content
