extends layout

block content

  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1= title

        form(method='POST' action='/loginUser')
          div.form-group
            label(for='name') Name 
            input#name.form-control(type='text', placeholder='username', name='username')
          div.form-group
            label(for='password') Password 
            input#password.form-control(type='password', placeholder='password', name='password')
          button.btn.btn-primary.btn-block(type='submit') Login

