extends layout

block content
  script(src='/javascripts/fuzzyField.js')
  if (notes)
    ul
      for note in notes
        li
          .card
            .card-container
              h4= note.title
              p #{note.content}
        br
